@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
==============
Variables
==============
*/
:root{
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-gray:#0058530D;
    --ff-primary: "Open Sans", sans-serif;
    --ff-secondary: "Poppins", sans-serif;
    --radius: 15px;
}

/* 
==============
    Globals
==============
*/

body{
    font-family: var(--ff-primary);
    background-color: var(--clr-white);
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    width: 100%;
}

h1,h2,h3,h4,h5{
    text-transform: capitalize;
}
p{
    font-weight: 400;
}

.card-body{
    padding: 0;
}
.card{
    padding: 2rem;
    border-radius: var(--radius);
    background-color: var(--clr-gray);
    border: none;
    margin-bottom: 2rem;
    width: 18rem;
}

.card-title{
    font-weight: 700;
}

.section-title h2{
    color: var(--clr-black);
    text-align: center;
    font-weight: 700;
    margin: 0 0 3rem 0;
    font-size: 40px;
}
/* 
=================
header
=================
*/
/* 
=============
navbar
==============
*/

/* 
=========
hero
=========
*/
.hero{
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.81) 0%, rgba(72, 72, 72, 0) 31.25%, rgba(158, 158, 158, 0) 77.6%, #FFFFFF 85.42%), url("../images/hero.png") center/cover no-repeat;
}

.hero-banner{
    text-align: center;  
}

.hero-banner h1{
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.hero-banner p{
    margin-bottom: 2rem;
}



/* 
===========
services 
===========
*/



.services-icon{
    margin-bottom: 2rem;
}

.ticket-icon{
    width: 46px;
    height: 28px;
}
.hotel-icon{
    width: 45px;
    height: 45px;

}
.tour-icon{
    width: 41px;
    height: 41px;
}


.tour-card-title{
    font-size: 24px;
}

.tour-card-text{
    font-size: 16px;
}



@media screen and (min-width:927px){
    .tour-card{
        width: 416px;
        height: 232px;
    }
}
.hotel-card{
    background-color: var(--clr-white);
    box-shadow: 0px 4px 16px 0px #00000026;
}

.services-center{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5rem; 
}


/* 
===========
why us
===========
*/


.why-us-icon{
    width: 25px;
    height: 25px;
}

.why-us-center{
    background:url("../images/world map 1.png") no-repeat center/cover;
    background-color: var(--clr-gray);
    max-height: 733px;
    max-width: 100vw;
}

.why-us-content {
    color: var(--clr-black);
    text-align: center;
    font-size: 0.75rem;
    margin-bottom: 3rem;
}

.why-us-card-body p{
    text-transform: capitalize;
    font-size: 0.7rem;
}

.why-us-card-body h5{
    font-size: 1.3rem;
}

.why-us-title h2{
    font-size: 1.75rem;
    padding-top: 2rem;
    margin-bottom: 0.5rem;
}
.why-us-card-title{
    margin: 0;
}

.why-us-card{
    background-color: var(--clr-white);
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 5rem;
}

.why-us-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.why-us-icon{
    align-self: center;
    margin-bottom: 2rem;
}

/* This media query is for very small phones
forming 1 column. Not common only for completeness
*/
@media screen and (max-width: 327px) {
    .why-us-center {
        max-height: 100%; 
    }
    .why-us-card {
        width: 80%; 
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1127px){
    .why-us-card-title{
        margin: 1rem;
    }
    .why-us-content{
        font-size: 16px;
        margin-bottom: 5rem;
    }
    
    .why-us-card-body p{
        font-size: 20px;
    }
    
    .why-us-card-body h5{
        font-size: 36px;
    }
    .why-us-title h2{
        font-size: 40px;
        padding-top: 5rem;
        margin-bottom: 2rem;
    }
    .why-us-card-title{
        margin: 1rem;
    }

    .why-us-icon{
        width: 42px;
        height: 42px;
    }

    .why-us-card{
        width: 250px;
        height: 250px;
        margin-bottom: 7rem;
    }
}

/*the 4th page*/


body{
    background-color: #ECF1F0;
}
h3{
    text-align: center;
    margin-top: 10px;
    font-size: 25 ;

}
.navbar{
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
.navbar a{
    color: #fff;
    font-size: 15px;
    font-weight: 600px;
    line-height: 36px;
    border-style: solid;
    border-color: silver;
    background-color: rgb(72, 66, 66);
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
}
.navbar a:hover{
    color: greenyellow;
}
.all3{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 25vh;
    
}
.indo{

    margin-left: 200px;
    background-color:;
}

.mnt{
    margin-right:200px;
}
.btn{
    
    padding: 10px 20px ;
    margin:20px ;
    color: aliceblue;
}
.content1{
    background-color: 0, 0, 0, 0;
    border: solid;
    border-radius: 12px;
    border-color: #FFFFFF;
    
}
@media only screen and (max-width: 694px) {
    .navbar{
        display: block;
        width: 100%;
        padding-bottom: 25px;
        font-size: ;
    }
    .all3{
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 0%;
        width: 100%;
        height: 10vh;

        
    }
    navbar a{
        color: #fff;
        font-size: 5px;
        font-weight: 100px;
        line-height: 36px;
        border-style: solid;
        border-color: silver;
        background-color: rgb(72, 66, 66);
        padding: 10px 20px;
        text-decoration: none;
        width: 100%;
}
.btn {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}

    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.review-section{
  background-color: #ECF1F0;
}
.review-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4rem;
}
.review-img-container{
  position: relative;
  max-width: 850px; 
}
.review-main-img {
  width: 100%;
  display: none;
}

.review-card {
  position: relative;
  bottom: -30px; 
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  padding: 1rem;
  box-shadow: 0px 4px 59px 9px #0000000D;
  text-align: center;
  background-color: #ffffff;
}

.review-card p:first-of-type {
  margin-top: 30px;
}

.review-profile-img {
  position: absolute;
  top: -54px; 
  left: 50%;
  transform: translateX(-50%);
  width: 108px;
  height: 108px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
}

.review-name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.review-center h1 {
  font-size: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.side-img {
  position: absolute;
  margin-top: 190px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 290px;
}

.review-left-img {
  left: 0;
}

.review-right-img {
  right: 0;
}

.side-img img {
  height: 100%;
  object-fit: cover;
  display: none;
}

@media screen and (min-width:995px){
  .side-img img {
    display: block;
  }
}

@media screen and (min-width:584px){
  .review-card {
    position: absolute;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .review-main-img {
    width: 100%;
    display: block;
  }
}
